# Dépendances
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Variables d'environnement
.env
.env.local
.env.development
.env.production

# Logs
logs/
*.log

# Dossiers de build
dist/
build/

# Système
.DS_Store
Thumbs.db

# IDEs et éditeurs
.idea/
.vscode/
*.swp
*.swo
